<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Noto Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Roboto Mono -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/admin.css" rel="stylesheet" type="text/css" />

    <meta content="Tabor Index" property="og:title" />
	<meta content="The best place to find useful tips and information on Ghosts of Tabor." property="og:description" />
	<meta content="https:/jb.polardev.net" property="og:url" />
	<meta content="#252525" data-react-helmet="true" name="theme-color" />
	<meta content="" property="og:image" />
    
    <title>Tabor Index / Admin Panel</title>
</head>
<body>
    <h1>Admin Panel</h1>
    <p>Welcome <%= username %>!</p>
<center>
    <div id="box" class="box">
        <span class="tab"><button id="manage">Manage</button></span>

        <hr id="divider" style="background-color: #252525; margin-top: 50px; text-align: center; width: 975px; height: 0.5px; border: none;">
    </div>
</center>
    <script src="/script.js"></script>
</html>